@tailwind base;
@tailwind components;
@tailwind utilities;

.description ol,
.description ul,
.description menu {
  list-style-type: disc;
}

.description ul {
  padding-left: 50px;
}

.swiper-custom-color-pagination{
        --swiper-navigation-color: #2e2e2e7f,
        --swiper-pagination-color: #fff,
}